$primary-white: #fff;
$primary-black: #000;
$primary-brown: #682C0E;
$primary-brown-lighter: #C24914;
$primary-orange: #FC8621;
$primary-skin-color: #DAC0A3;
$primary-yellowish: #F9E0AE;
$primary-skin-lighter: #EADBC8;